body{
    background-color: lightblue;
   display: flex;
   flex-direction: column;
}
svg{
    width: 100%;
    border: 1px black dotted;
    
}
#number1{
    font-family: Arial;
     font-size: 36px;
      fill: whitesmoke;
     
}
#svg2{
  
    scale: 0.6;
}
#svg2{
    transform: translate(40%, 40%);
    scale: 0.6;
}