em{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 15px; 
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
     
}
.n1{
    background-image: linear-gradient(180deg, blue, red);
   
}
.n2{
    background-image: repeating-linear-gradient(225deg, red, red 10px, blue 10px, blue 20px); 
}
.n3{
    background-image: radial-gradient( yellow 10px, green);
}
.n4{
    background-image: repeating-radial-gradient( green, green 10px, yellow 10px, yellow 20px);
}
.n5{
    background-image: radial-gradient(circle, yellow 5%, green 70%, transparent ), linear-gradient(blue, darkviolet) ;
    
   
}
div{
    display: flex;
}